@font-face {
  font-family: "Poppins";
  src: url("./assets/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --blue-color: #4c5c96;
  --dark-blue-color: #45558d;
  --darker-blue-color: #3f4e85;
  --black-blue-color: #2e3141;
  --bg-light-color: #f5f6fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background: var(--bg-light-color);
  min-height: 100vh;
  padding: 20px;
  line-height: 1.6;
}
